# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Android
android/
!android/gradlew
!android/gradlew.bat
!android/gradle/
!android/gradle.properties
!android/settings.gradle
!android/build.gradle
!android/gradle/wrapper/gradle-wrapper.jar
!android/gradle/wrapper/gradle-wrapper.properties

# iOS
ios/
!ios/Podfile
!ios/Podfile.lock
!ios/Podfile.properties.json

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*
!.env.example

# typescript
*.tsbuildinfo

# Build outputs
build/
*.apk
*.aab
*.ipa
*.dSYM.zip
*.dSYM

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md
